project_name            = "projectmanager"
environment             = "dev"
aws_region              = "us-east-1"
db_password             = "REPLACE_ME_WITH_A_STRONG_PASSWORD"
app_jwt_secret          = "REPLACE_ME_WITH_A_LONG_RANDOM_SECRET"
app_allowed_origin_1    = "https://your-app.vercel.app"
app_allowed_origin_2    = "http://localhost:5173"
app_secure_cookies      = true
app_cookie_same_site    = "None"
allowed_ssh_cidrs       = []
enable_ssh              = false
artifact_object_key     = "releases/backend/app.jar"
artifact_bucket_name    = null
desired_capacity        = 1
min_capacity            = 1
max_capacity            = 3
db_multi_az             = false
db_deletion_protection  = true
api_gateway_cors_allow_origins = ["http://localhost:5173", "http://localhost:4173"]
